@font-face {
  font-family: PlusJakarta;
  src: url(PlusJakartaSans-VariableFont_wght.ttf);
}

  :root {
    --light-green: #2a654f;
    --dark-green: #133f1c;
    --gold: #968446;
  }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Top Banner (Top Banner) */
.topbanner {
  background: linear-gradient(
    to bottom,
    var(--light-green) 0%,
    var(--light-green) 65%,
    var(--dark-green) 100%
  );
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  color: #fff;
  flex-direction: column;
  height: 160px;
  overflow: hidden;
}
.topbanner ::after {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  height: 44px;
  background: linear-gradient(to bottom rgba(0, 0, 0, 0), var(--dark-green)
  );
  z-index: 1;
  pointer-events: none;
}

/* Badge Fixed to the left*/
.badge-box {
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.badge {
  width: 95px;
  height: auto;
}

/* Text Block */
.title-box {
  position: absolute;
  top: 53%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* Main Title */
.title-box h1 {
  font-family: PlusJakarta;
  font-size: 2.3rem;
  font-weight: 800px;
  margin: 0;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  padding: 0;
}

/* Gold Underline Title */
.underline {
  width: 475px;
  height: 2px;
  background-color: #968446;
  margin: 0.35 auto 0.25rem;
  border-radius: 2px;
  opacity: 0.8;
}

/* EST.2026 */
.title-box h6 {
  font-family: PlusJakarta;
  color: white;
  font-weight: 400;
  opacity: 0.85;
  font-size: 0.95rem;
  margin-top: 5px;
  line-height: 1;
  position: relative;
  top: -2px;
}

/* Nav Menu */
.nav-menu {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: auto;
  background: transparent;
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 3;
}

.nav-menu a {
  color: #ffffff;
  text-decoration: none;
  font-family: PlusJakarta, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.25s ease, text-shadow 0.25s ease;
}

.nav-menu a:hover {
  color: var(--gold);
  text-shadow: 0 0 8px rgba(150, 132, 70, 0.6);
}
body {
  background: rgb(255, 255, 255);
  text-align: center;
}
